.project_header
  %h3= t('projects_page_rp')
  %br
  %div{style:'margin-left: auto; margin-right: auto;'}
    = partial 'partials/recent'

.project_header
  %h3= t('projects_page_bc')
  %br
  %div{style:'margin-left: auto; margin-right: auto;'}
    = partial 'partials/bootcamp'

.project_header
  %h3= t('projects_page_pc')
  %br
  %div{style:'margin-left: auto; margin-right: auto;'}
    = partial 'partials/prepcourse'
